<strong>Olá {{ organizer }}!</strong>
<p>Houve uma nova inscrição no meetup {{ meetup }}, data {{ date }}, os detalhes do inscrito estão logo abaixo:</p>
<p>
  <strong>Participante: </strong> {{ user }} <br />
  <strong>E-mail: </strong> {{ email }} <br />
</p>
